// Import page-specific CSS files here.
@import "home";

.list-title {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.list-container {
  display: flex;
  gap: 20px; // Espacement entre les boîtes de la liste.
  flex-wrap: wrap;
  margin-left: 50px; // Espacement à gauche pour les boîtes de la liste.
  margin-bottom: 0px; // Espacement entre le conteneur des listes et le bouton "Create a new list".
}

.btn-success {
  margin-left: 50px; // Espacement à gauche pour le bouton "Create a new list".
}
